/**
 * Configure Tailwind v4 in this file using CSS variables and directives:
 * https://tailwindcss.com/blog/tailwindcss-v4-alpha#css-first-configuration 
 */

@import 'tailwindcss';

@theme {
  /* --color-main-purple: #cb13a9; */
  /* --color-main-purple: #7d26cd; */
  --color-main-purple: #a737a5;
  --color-main-purple-light: #d05fcc;
  --color-main-purple-dark: #800080;
  --color-main-purple-super-dark: #4d0050;
  --font-family-logo: 'Bitter', serif;
  --font-family-base: Inter var, ui-sans-serif, system-ui, sans-serif;
  --max-width-1400: 1400px;
  --background-image-check-icon: url('~/assets/CheckIcon.svg');
  --animate-fade-in: fadeInAnimation ease 0.3s forwards;
  --animate-fade-slide-v-in: fadeSlideVInAnimation ease 0.5s forwards;
  --animate-route-transition-bg: fadeOutAnimation 0.3s ease 0.6s forwards;
  --animate-route-transition-logo: slideInOutAnimation 0.8s ease forwards;
  --spacing-main-header-mobile-height: 76px;
  --spacing-main-header-desktop-height: 84px;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeSlideVInAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes slideInOutAnimation {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  25% {
    opacity: 1;
    transform: translateX(0);
  }
  75% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}

@layer base {
  body {
    @apply font-base;
    @apply text-gray-900;
    font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
    @apply selection:bg-main-purple;
    @apply selection:text-white;
  }

  [type='checkbox'],
  [type='radio'] {
    @apply appearance-none;
    @apply p-0;
    @apply inline;
    @apply align-middle;
    @apply bg-origin-border;
    @apply select-none;
    @apply shrink-0;
    @apply h-4;
    @apply w-4;
    @apply bg-white;
    @apply border;
    @apply border-gray-500;
  }

  [type='checkbox']:focus,
  [type='radio']:focus {
    /* @apply outline-2;
    @apply outline-solid;
    @apply outline-transparent;
    @apply outline-offset-2;
    @apply shadow-[0_0_0_2px_#fff,0_0_0_4px_#2563eb]; */
    outline: none;
  }

  [type='checkbox']:focus-visible,
  [type='radio']:focus-visible {
    @apply focus-visible:outline;
    @apply focus-visible:outline-2;
    @apply focus-visible:outline-offset-2;
    @apply focus-visible:outline-gray-900;
  }

  [type='checkbox']:checked,
  [type='radio']:checked {
    @apply border-transparent;
    @apply bg-current;
    @apply bg-[length:100%_100%];
    @apply bg-center;
    @apply bg-no-repeat;
  }

  [type='checkbox'] {
    @apply relative;
    @apply flex;
    @apply justify-center;
    @apply items-center;
  }

  [type='checkbox']::before {
    @apply content-[''];
    @apply absolute;
    @apply h-full;
    @apply w-full;
    @apply bg-[url('../assets/CheckIcon.svg')];
    @apply bg-no-repeat;
    @apply opacity-0;
    @apply transition;
    @apply duration-200;
  }

  [type='checkbox']:checked::before {
    @apply opacity-100;
  }

  [type='checkbox']:checked:hover,
  [type='checkbox']:checked:focus,
  [type='radio']:checked:hover,
  [type='radio']:checked:focus {
    @apply border-transparent;
    @apply bg-current;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  .button {
    @apply inline-block;
    @apply rounded-md;
    @apply border;
    @apply border-transparent;
    @apply bg-main-purple;
    @apply px-8;
    @apply py-3;
    @apply text-center;
    @apply font-medium;
    @apply cursor-pointer;
    @apply text-white;
    @apply hover:bg-main-purple-dark;
    @apply transition;
    @apply duration-300;
    @apply ease-[ease];
    @apply focus-visible:outline;
    @apply focus-visible:outline-2;
    @apply focus-visible:outline-offset-2;
    @apply focus-visible:outline-main-purple;
  }
  .badge {
    @apply inline-flex;
    @apply items-center;
    @apply rounded-md;
    @apply bg-main-purple;
    @apply px-2;
    @apply py-1;
    @apply text-xs;
    @apply font-medium;
    @apply text-white;
    /* @apply ring-1;
    @apply ring-inset;
    @apply ring-gray-500/10; */
  }
}
